.app-register {
  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__form-container {
    display: flex;
    justify-content: center;
  }

  &__form {
    flex: 0 0 80%;
  }

  &__form-buttons-container {
    display: flex;
    justify-content: flex-end;
  }

  &__2-column-form-field {
    display: flex;

    & > div + div {
      margin-left: 10px;
    }

    & > div {
      flex: 1 0 50%;
    }
  }

  &__form-radio-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
