<div class="form-page">
  <div class="form-page__heading">
    <h1 class="heading heading--main">Register</h1>
  </div>

  <div class="form-page__form-container">
    <form
      class="form-page__form"
      novalidate
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="First name"
          formControlName="firstName"
        >
        <mat-error *ngIf="hasError('firstName', 'minlength')">
          Please enter minimum 3 characters
        </mat-error>
        <mat-error *ngIf="hasError('firstName', 'maxlength')">
          Value should not exceed 60 characters
        </mat-error>
        <mat-error *ngIf="hasError('firstName', 'required')">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Last name"
          formControlName="lastName"
        >
        <mat-error *ngIf="hasError('lastName', 'required')">
          Last name is required
        </mat-error>
        <mat-error *ngIf="hasError('lastName', 'minlength')">
          Please enter minimum 3 characters
        </mat-error>
        <mat-error *ngIf="hasError('lastName', 'maxlength')">
          Value should not exceed 60 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        >
        <mat-error *ngIf="hasError('email', 'required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="hasError('email', 'email')">
          Please enter a valid email
        </mat-error>
        <mat-error *ngIf="hasError('email', 'emailAlreadyRegistered')">
          This email is already registered with us
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        >
        <mat-error *ngIf="hasError('password', 'required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">
          Please enter at least 3 characters
        </mat-error>
        <mat-error *ngIf="hasError('password', 'maxlength')">
          Value should not exceed 255 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="passwordsMatcher"
        >
        <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
          Password and confirm password should match
        </mat-error>
      </mat-form-field>

      <div class="form-page__2-column-form-field">
        <div class="form-page__form-radio-field">
          <div>
            Gender:
            <mat-radio-group formControlName="gender">
              <mat-radio-button [value]="gender.Male">Male</mat-radio-button>
              <mat-radio-button [value]="gender.Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-error *ngIf="isFormSubmitted && hasError('gender', 'required')">
              Gender is required
            </mat-error>
          </div>
        </div>

        <div>
          <mat-form-field>
            <input
              readonly
              matInput
              [min]="birthDateRange.min"
              [max]="birthDateRange.max"
              [matDatepicker]="picker"
              placeholder="Birth date"
              formControlName="birthDate"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="hasError('birthDate', 'required')">
              Birth date is required for other than female genders
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="passwordsMatcher"
        >
        <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
          Password and confirm password should match
        </mat-error>
      </mat-form-field> -->

      <div>
        <input
          type="file"
          formControlName="profilePic"
          (change)="onFileChange($event)"
        >
        <img [src]="localFileUploadUrl" *ngIf="localFileUploadUrl" width="50">
        <mat-error *ngIf="isFormSubmitted && hasError('profilePic', 'required')">
          Profile pic is required
        </mat-error>
        <mat-error *ngIf="isFormSubmitted && hasError('profilePic', 'notAnImage')">
          Uploaded file is not an image
        </mat-error>
        <mat-error *ngIf="isFormSubmitted && hasError('profilePic', 'fileToLarge')">
          Image size should not exceed 5MB
        </mat-error>
      </div>

      <div class="form-page__form-buttons-container">
        <button [disabled]="asyncValidationInProgress" mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
